node_modules
img/screen.png
img/icon-hamburger.svg
img/icon-close.svg
img/favicon-32x32.png
img/bg-tablet-pattern.svg
img/bg-simplify-section-mobile.svg
img/bg-simplify-section-desktop.svg
postcss.config.js
img/avatar-shanai.png
